<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>最新成交</title>
    <link rel="stylesheet" href="/static/index/style/cssreset.css">
    <link rel="stylesheet" href="/static/index/style/lockdeal.css?v=2">
    <link rel="stylesheet" href="/static/index/style/public.css">
    {include file="common/js"}
</head>

<body>
    <header class="public">
        <a class="goBack" href="javascript:;">
            <img src="/static/index/image/arrow.gif" alt="">
        </a>
        <h1>最新成交</h1>
    </header>
    <div class="list-title">
        <a href="/index/lock_order/index">
            锁仓计划
        </a>
        <a href="/index/lock_order/orders">
            锁仓明细
        </a>
        <a href="/index/lock_order/lockdeal">
            最新成交
        </a>
    </div>

    <!-- 锁仓列表开始 -->
    <div class="list-content">
        {foreach name="orders" item="i"}
        <div>
            <div class="pay-time">
                <p>
                    交易时间 ：{$i['c_time']}
                </p>
            </div>
            <div class="pay-bottom">
                <div>
                    <p>买方</p>
                    <p class="buyId">
                        {$i['user_vip_number']}
                    </p>
                </div>
                <div>
                    <p>成交价</p>
                    <p class="price">
                        {$i['price']}
                    </p>
                </div>
                <div>
                    <p>成交量</p>
                    <p>
                        {$i['count']}
                    </p>
                </div>
                <div>
                    <p>卖方</p>
                    <p class="buyId">
                        {$i['sell_vip_number']}
                    </p>
                </div>

            </div>
        </div>
        {/foreach}
    </div>
    <!-- 锁仓列表结束 -->
    <!-- 底部开始 -->
    <footer>
        <div>
            <a href="/index/index/index">
                <i class="ficon1"></i>
                <p>首页</p>
            </a>
            <a href="/index/lock_order/index">
                <i class="ficon2"></i>
                <p>锁仓</p>
            </a>
            <a href="/index/share/index">
                <i class="ficon3"></i>
                <p>分享</p>
            </a>
            <a href="/index/user/index">
                <i class="ficon4"></i>
                <p>我的</p>
            </a>
        </div>
    </footer>
    <!-- 底部结束 -->
    <script>
        function Trim(str) {
            return str.replace(/(^\s*)|(\s*$)/g, "");
        }
        $(".buyId").each(function(index, ele) {
            var buyId = Trim(this.innerHTML);
            var trimId = buyId.substring(0, buyId.length - 5) + "******";
            this.innerHTML = trimId;
        })
    </script>
</body>
</html>