<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>矿机收益</title>
    <link rel="stylesheet" href="/static/index/style/cssreset.css">
    <link rel="stylesheet" href="/static/index/style/miner.css">
    <link rel="stylesheet" href="/static/index/style/public.css">
    {include file="common/js"}
</head>

<body>
    <header class="public">
        <a href="/index/index/index">
            <img src="/static/index/image/arrow.gif">
        </a>
        <h1>矿机收益</h1>
    </header>
    <div class="list-title">
        <a href="/index/lock_order/index">
            理财计划
        </a>
        <a href="/index/lock_order/orders">
            理财明细
        </a>
        <a href="javascript:;">
            矿机收益
        </a>
    </div>
    <div class="price">
        <div class="circle">
            <div>
                <p>今日矿机收益</p>
                <p>+{$user['to_miner_income']}</p>
            </div>
            <div>
                <p>矿机总收益</p>
                <p>{$user['miner_income']}</p>
            </div>
        </div>
    </div>
    <div class="list-content">
        <h2>矿机列表</h2>
        <ul class="top-title">
            <li>数量</li>
            <li>开始时间</li>
            <li>目前收益</li>
            <li>状态</li>
            <li>操作</li>
        </ul>
        {foreach miners as $v}
        <ul class="list-item">
            <li>{$v['number']}</li>
            <li>{$v['c_time']|substr=0,10}</li>
            <li>{$v['now_income']}</li>
            <li>{if condition="$v['status']" }已退出{else /}挖矿中{/if}</li>
            <li><a href="/index/lock_order/minerdetail/id/{$v['id']}">查看</a></li>
        </ul>
        {/foreach}
    </div>
    <!-- 理财列表结束 -->
    <div class="bottom-content">

    </div>
    <!-- 底部开始 -->
    <footer>
        <div>
            <a href="/index/index/index">
                <i class="ficon1"></i>
                <p>首页</p>
            </a>
            <a href="/index/lock_order/index">
                <i class="ficon2"></i>
                <p>理财</p>
            </a>
            <a href="/index/money/pulladdress">
                <i class="ficon3"></i>
                <p>矿机</p>
            </a>
            <a href="/index/user/index">
                <i class="ficon4"></i>
                <p>我的</p>
            </a>
        </div>
    </footer>
    <!-- 底部结束 -->
</body>
</html>