<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分享收益</title>
    <link rel="stylesheet" href="/static/index/style/cssreset.css">
    <link rel="stylesheet" href="/static/index/style/shareprofit.css">
    <link rel="stylesheet" href="/static/index/style/public.css">
    {include file="common/js"}
</head>

<body>
    <header class="public">
        <a href="/index/user/index">
            <img src="/static/index/image/arrow.gif" alt="">
        </a>
        <h1>分享收益</h1>
    </header>
    <div class="list-title">
        <a href="/index/share/index">
            分享好友
        </a>
        <a href="javascript:;">
            分享收益
        </a>
        <a href="/index/share/members">
            分享列表
        </a>
    </div>
    <div class="price">
        <div class="circle">
            <div>
                <p>今日分享收益</p>
                <p>+{$user['to_share_income']}</p>
            </div>
            <div>
                <p>分享总收益</p>
                <p>{$user['share_income']}</p>
            </div>
        </div>
    </div>
    <!-- 锁仓列表开始 -->
    <div class="list-content">
        <h2>分享明细</h2>
        <ul class="top-title">
            <li>好友</li>
            <li>矿机数量</li>
            <li>购买时间</li>
            <li>收益</li>
        </ul>
        {foreach $logs as $v}
        <ul class="list-item">
            <li>{if condition="empty($v['nick_name'])"}{$v['vip_number']}{else /} {$v['nick_name']}{/if}</li>
            <li>{$v['number']}</li>
            <li>{$v['c_time']}天</li>
            <li>{$v['income']|round=1}</li>
        </ul>
        {/foreach}
    </div>
    <!-- 锁仓列表结束 -->
    <div class="bottom-content"></div>
    <!-- 底部开始 -->
    <footer>
        <div>
            <a href="/index/index/index">
                <i class="ficon1"></i>
                <p>首页</p>
            </a>
            <a href="/index/lock_order/index">
                <i class="ficon2"></i>
                <p>理财</p>
            </a>
            <a href="/index/money/pulladdress">
                <i class="ficon3"></i>
                <p>矿机</p>
            </a>
            <a href="/index/user/index">
                <i class="ficon4"></i>
                <p>我的</p>
            </a>
        </div>
    </footer>
    <!-- 底部结束 -->
</body>

</html>