div.list-title {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  height: 0.8rem;
  line-height: 0.8rem;
  padding: 0 0.4rem;
  margin-top: 0.4rem;
}
div.list-title a {
  width: 33.33333333%;
  color: #e73d00;
  text-align: center;
  font-size: 0.4rem;
  border-top: 1px solid #e73d00;
  border-bottom: 1px solid #e73d00;
  border-left: 1px solid #e73d00;
}
div.list-title a:first-child {
  border-radius: 0.13333333rem 0 0 0.13333333rem;
}
div.list-title a:last-child {
  border-radius: 0 0.13333333rem 0.13333333rem 0;
  border-right: 1px solid #e73d00;
}
div.list-title a:nth-child(1) {
  border-left: none;
  border-right: none;
  border-top: 1px solid #e73d00;
  border-bottom: 1px solid #e73d00;
  color: #ffffff;
  background: #e73d00;
}
.list-content .head-image {
  padding: 0 0.4rem;
}
.list-content .head-image a {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  height: 2.66666667rem;
}
.list-content .head-image img:first-child {
  width: 1.70666667rem;
  height: 1.70666667rem;
  border-radius: 50%;
}
.sub-box {
  padding: 0 0.4rem;
}
.sub-box div {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  border-bottom: 1px solid #dbdbdb;
  font-size: 0.37333333rem;
}
.sub-box div select {
  width: 50%;
  height: 0.8rem;
  border: none;
  text-align:right;
}
.sub-box div input {
  width: 50%;
  height: 0.8rem;
  border: none;
  text-align:right;
}
.sub-box div .huoqu {
  width: 50%;
  height: 0.8rem;
  background: #e73d00;
  color: #ffffff;
  text-align: center;
  line-height: 0.8rem;
  border-radius: 0.13333333rem;
  margin-left: 0.26666667rem;
}
.sub-box div div {
  width: 50%;
}
:-ms-input-placeholder {
  text-align: right;
  color: #cccccc;
}
::-webkit-input-placeholder {
  text-align: right;
  color: #cccccc;
}
div.sub {
  width: 100%;
  height: 2.13333333rem;
  padding: 0 0.4rem;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.13333333rem solid #f3f3f3;
}
div.sub .btn {
  width: 100%;
  height: 1.28rem;
  border: none;
  outline: none;
  background: #e73d00;
  font-size: 0.42666667rem;
  color: #ffffff;
  border-radius: 0.13333333rem;
}
.head-box {
  position: relative;
  flex-grow: 1;
}
.head-box input {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
