header {
  background: url("../image/hback.gif") no-repeat;
  background-size: 100% 100%;
  height: 5.65333333rem;
}
header img.arrow {
  width: 0.21333333rem;
}
header img.head {
  width: 1.70666667rem;
  border-radius: 50%;
}
header .top-header {
  position: relative;
  width: 100%;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  padding: 0 0.4rem;
}
header .top-header h1 {
  position: absolute;
  left: 50%;
  top: 0.70666667rem;
  transform: translate(-50%, 0);
  font-size: 0.45333333rem;
  color: #ffffff;
}
header .top-title {
  margin-top: 0.73333333rem;
  color: #ffffff;
  font-size: 0.4rem;
  line-height: 2.13333333rem;
  height: 2.13333333rem;
  text-align: center;
}
header .top-title .id-head {
  width: 0.37333333rem;
}
header .top-list {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 0 0.4rem;
  font-size: 0.37333333rem;
  height: 0.93333333rem;
  line-height: 0.46666667rem;
}
header .top-list div {
  flex-grow: 1;
  text-align: center;
}
header .top-list div:nth-child(2) {
  border-left: 1px solid #fff;
  height: 100%;
  border-right: 1px solid #fff;
}
.app-content {
  margin-top: 0.24rem;
}
.app-content .list-top {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  padding: 0 0.4rem;
  border-bottom: 0.13333333rem solid #f2f2f2;
  position: relative;
}
.app-content .list-top a {
  width: 33.33333333%;
  text-align: center;
  font-size: 0.4rem;
  line-height: 0.66666667rem;
  margin: 0.48rem 0;
  position: relative;
}
.app-content .list-top a p:first-child {
  color: #e73d00;
}
.app-content .list-top a p:last-child {
  color: #808080;
}
.app-content .list-top .line::after {
  display: block;
  height: 100%;
  position: absolute;
  content: "";
  width: 100%;
  top: 50%;
  left: 0;
  right: 0;
  border-left: 1px solid #f2f2f2;
  transform: translateY(-50%);
}
.app-content .center-line a {
  width:100%;
  margin:0.2rem 0;
  color:#808080;
  padding-bottom:0.2rem;
  border-bottom:1px solid #e4e4e4;

}
.app-content .center-line a p{
  float:left;
  margin-left:0.30666666rem;
}
.app-content .center-line .next{
  float:right;
  padding-top:0.10666666rem;
}
.app-content .center-line::after {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
}
.app-content .list-bottom {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}
.app-content .list-bottom .line::after {
  display: block;
  height: 100%;
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  border-left: 1px solid #f2f2f2;
  transform: translateY(-50%);
}
.app-content .list-bottom li {
  width: 33.33333333%;
  text-align: center;
  font-size: 0.4rem;
  line-height: 0.66666667rem;
  margin: 0.48rem 0;
  position: relative;
}
.app-content .list-bottom li p:first-child {
  color: #e73d00;
}
.app-content .list-bottom li p:last-child {
  color: #808080;
}
p[class^="icon"] {
  display: inline-block;
  width: 0.65333333rem;
  height: 0.78666667rem;
}
p[class^="icon"] img {
  width: 100%;
  height: 100%;
}
div.exit {
  text-align: center;
  line-height: 1.06666667rem;
  height: 1.33333333rem;
  border-top: 0.13333333rem solid #f5f5f5;
  border-bottom: 0.13333333rem solid #f5f5f5;
}
div.exit a {
  display: block;
  color: #4d4d4d;
  font-size: 0.4rem;
}
i.ficon4 {
  background: url("../image/footer.gif") 0 -2rem;
  background-size: 0.52rem;
}
