div.list-title {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  height: 0.8rem;
  line-height: 0.8rem;
  padding: 0 0.4rem;
  margin-top: 0.4rem;
}
div.list-title a {
  width: 20%;
  color: #216ea8;
  text-align: center;
  font-size: 0.4rem;
  border-top: 1px solid #216ea8;
  border-bottom: 1px solid #216ea8;
  border-left: 1px solid #216ea8;
}
div.list-title a:first-child {
  border-radius: 0.13333333rem 0 0 0.13333333rem;
}
div.list-title a:last-child {
  border-radius: 0 0.13333333rem 0.13333333rem 0;
  border-right: 1px solid #216ea8;
}
div.list-title a:nth-child(5) {
  border-left: none;
  border-right: none;
  border-top: 1px solid #216ea8;
  border-bottom: 1px solid #216ea8;
  color: #ffffff;
  background: #216ea8;
}
.list-content {
  margin-top: 0.66666667rem;
}
.list-content h2 {
  height: 1.06666667rem;
  width: 100%;
  padding: 0 0.4rem;
  line-height: 1.06666667rem;
  color: #808080;
  font-size: 0.34666667rem;
  background: #f5f5f5;
}
.list-content .top-title {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  padding: 0 0.4rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.4rem;
  color: #414141;
  font-weight: 600;
  border-bottom: 1px solid #dbdbdb;
  background: #fffff7;
}
.list-content .top-title li {
  width: 25%;
  text-align: center;
}
.list-content .list-item {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  padding: 0 0.4rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.37333333rem;
  color: #414141;
}
.list-content .list-item li {
  border-bottom: 1px solid #dbdbdb;
  text-align: center;
  width: 25%;
}
.list-content .list-item li:last-child a {
  color: #216ea8;
}
.list-content .list-item li p {
  display: inline-block;
  width: 1.46666667rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div.list-content {
  width: 100%;
  font-size: 0.37333333rem;
}
div.list-content .userinfo {
  padding: 0 0.4rem;
  border-top: 0.26666667rem solid #f3f3f3;
}
div.list-content .userinfo li {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.06666667rem;
  color: #808080;
  border-bottom: 1px solid #f3f3f3;
}
div.list-content .bank {
  padding: 0 0.4rem;
  border-top: 0.13333333rem solid #f3f3f3;
}
div.list-content .bank li {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.06666667rem;
  color: #808080;
  border-bottom: 1px solid #f3f3f3;
}
div.list-content .detail {
  padding: 0 0.4rem;
  border-top: 0.13333333rem solid #f3f3f3;
}
div.list-content .detail li {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.06666667rem;
  color: #808080;
  border-bottom: 1px solid #f3f3f3;
}
div.list-content .detail li input {
  border: none;
  height: 100%;
  outline: none;
  text-align: right;
}
div.sub {
  width: 100%;
  height: 2.13333333rem;
  padding: 0 0.4rem;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.13333333rem solid #f3f3f3;
}
div.sub .btn {
  width: 100%;
  height: 1.28rem;
  border: none;
  outline: none;
  background: #216ea8;
  font-size: 0.42666667rem;
  color: #ffffff;
  border-radius: 0.13333333rem;
}
