@rem:75rem;
div.list-title{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    height: 60/@rem;
    line-height: 60/@rem;
    padding: 0 30/@rem;
    margin-top: 30/@rem;
    a{
        width: 25%;
        color: #e73d00;
        text-align: center;
        font-size: 30/@rem;
        border-top: 1px solid #e73d00;
        border-bottom: 1px solid #e73d00;
        border-left: 1px solid #e73d00;
        &:first-child{
            border-radius: 10/@rem 0 0 10/@rem;
        } 
        &:last-child{
            border-radius: 0 10/@rem 10/@rem 0;
            border-right: 1px solid #e73d00;
        } 
        &:nth-child(2){
            border-left:1px solid #e73d00;
            border-top: 1px solid #e73d00;
            border-bottom: 1px solid #e73d00;
            color: #e73d00;
            background: #ffffff;
        }
        &:nth-child(4){
            border-left:none;
            border-right: none;
            border-top: 1px solid #e73d00;
            border-bottom: 1px solid #e73d00;
            color: #ffffff;
            background: #e73d00;
        }
    }
}
.content{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    margin-top: 80/@rem;
    padding: 0 30/@rem;
    .content-list{
        h2{
            font-size: 36/@rem;
            text-align: center;
            margin-bottom: 30/@rem;
        }
        div{
            font-size: 30/@rem;
            text-align: left;
            padding: 0 30/@rem;
        }
    }
}