div.list-title {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  height: 0.8rem;
  line-height: 0.77333333rem;
  padding: 0 0.4rem;
  margin-top: 0.4rem;
}
div.list-title a {
  width: 20%;
  color: #e73d00;
  text-align: center;
  font-size: 0.4rem;
  border-top: 1px solid #e73d00;
  border-bottom: 1px solid #e73d00;
  border-left: 1px solid #e73d00;
}
div.list-title a:first-child {
  border-radius: 0.13333333rem 0 0 0.13333333rem;
}
div.list-title a:last-child {
  border-radius: 0 0.13333333rem 0.13333333rem 0;
  border-right: 1px solid #e73d00;
}
div.list-title a:nth-child(3) {
  border-left: none;
  border-right: none;
  border-top: 1px solid #e73d00;
  border-bottom: 1px solid #e73d00;
  color: #ffffff;
  background: #e73d00;
}
.list-content {
  margin-top: 0.66666667rem;
}
.list-content .top-title {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  padding: 0 0.4rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.37333333rem;
  color: #414141;
  font-weight: 600;
  border-bottom: 1px solid #dbdbdb;
  background: #fffff7;
}
.list-content .top-title li {
  width: 24%;
  text-align: center;
}
.list-content .top-title li:nth-child(2) {
  width: 29%;
}
.list-content .list-item {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  padding: 0 0.4rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.37333333rem;
  color: #414141;
}
.list-content .list-item li {
  border-bottom: 1px solid #dbdbdb;
  text-align: center;
  width: 24%;
}
.list-content .list-item li:nth-child(2) {
  width: 29%;
}
.list-content .list-item li:last-child a {
  color: #e73d00;
}
.list-content .list-item li p {
  display: inline-block;
  width: 1.46666667rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.alert {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.alertBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 0.10666667rem;
  width: 6.66666667rem;
  height: 4rem;
  border: 1px solid #e73d00;
}
.alertBox p {
  font-size: 0.4rem;
  line-height: 0.66666667rem;
  padding: 0 0.4rem;
}
.alertTitle {
  font-size: 0.4rem;
  line-height: 0.66666667rem;
  text-align: center;
  margin-top: 0.66666667rem;
  padding: 0 0.4rem;
}
.listBtn {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.4rem;
  margin-top: 0.4rem;
}
.leftBtn {
  width: 2rem;
  height: 0.66666667rem;
  border-radius: 0.10666667rem;
  background: #e73d00;
  color: #ffffff;
  font-size: 0.4rem;
  text-align: center;
  line-height: 0.66666667rem;
}
.rightBtn {
  width: 2rem;
  height: 0.66666667rem;
  border-radius: 0.10666667rem;
  border: 1px solid #e73d00;
  color: #e73d00;
  font-size: 0.4rem;
  text-align: center;
  line-height: 0.66666667rem;
}
