<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>修改{$title}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/admin/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/admin/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/admin/css/edit.css">
    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/kingAjax.js"></script>
    <script type="text/javascript" src="/static/admin/js/kingFile.js"></script>
    <script type="text/javascript" src="/static/admin/plugins/layui/layui.js"></script>
</head>

<body>
<div class="edit-content">
    <blockquote class="layui-elem-quote query-index add-block">
        <div class="layui-col-md4"><p class="add-title">修改{$title}</p></div>
        <div class="layui-col-md4 layui-col-md-offset1"><a class="layui-btn layui-btn-normal" href="./index?{$urlParam}">返回上一页</a></div>
    </blockquote>

    <form class="layui-form" action="{$loadUrl}">
        <input type="hidden" name="{$primaryKey}" value="{$model[$primaryKey]}">
        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-md1">
                    <label class="king-label">文章主题</label>
                </div>
                <div class="layui-col-md5">
                    <input type="text" name="title" value="{$model.title}" lay-verify="required" autocomplete="off" placeholder="请输入文章主题" class="layui-input" maxlength="50">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-md1">
                    <label class="king-label">文章副标题</label>
                </div>
                <div class="layui-col-md5">
                    <input type="text" name="sub_title" value="{$model.sub_title}" lay-verify="required" autocomplete="off" placeholder="请输入文章副标题" class="layui-input" maxlength="50">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-md1">
                    <label class="king-label">作者</label>
                </div>
                <div class="layui-col-md5">
                    <input type="text" name="author" value="{$model.author}" lay-verify="required" autocomplete="off" placeholder="请输入作者" class="layui-input" maxlength="50">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-md1">
                    <label class="king-label">所属分类</label>
                </div>
                <div class="layui-col-md5">
                    <select name="category_id" lay-filter="category_id" lay-verify="required">
                        <option value=" ">请选择分类</option>
                        {foreach name="categorys" item="i"}
                        <option value="{$i.category_id}" {if condition="$i.category_id==$model.category_id"}selected{/if}>{$i.category_name}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item" id="cityDiv">
            <div class="layui-row">
                <div class="layui-col-md1">
                    <label class="king-label">会议咨询地区</label>
                </div>
                <div class="layui-col-md5">
                    <input type="text" name="city" value="{$model.city}" autocomplete="off" placeholder="请输入会议咨询地区" class="layui-input" maxlength="50">
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-md1">
                    <label class="king-label">置顶</label>
                </div>
                <div class="layui-col-md5">
                    <input type="radio" name="is_zd" value="1" title="置顶" {if condition="$model.is_zd==1"}checked{/if}>
                    <input type="radio" name="is_zd" value="0" title="否" {if condition="$model.is_zd==0"}checked{/if}>
                </div>
            </div>
        </div>

        {include file="default/image_edit"}
        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-md1">
                    <label class="king-label">简略信息</label>
                </div>
                <div class="layui-col-md5">
                    <textarea name="sub_content" placeholder="请输入简略信息" class="layui-textarea">{$model.sub_content}</textarea>
                </div>
            </div>
        </div>
        {include file="default/baidu_editor"}

        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-md6 center">
                    <button class="layui-btn" lay-submit lay-filter="demo">立即提交</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
                layer = layui.layer;
        form.on('submit(demo)', function(data) {
            $.kingAjax(data, "{$urlParam}");
            return false;
        });
        form.on('select(category_id)', function (data){
            var value = $(data.elem).find('option:selected').html();
            if(value == '会议资讯'){
                $('#cityDiv').show();
            }else{
                $('#cityDiv').hide();
                $('input[name=city]').val('');
            }
        });
        if($('select[name=category_id] option:selected').html() == '会议资讯'){
            $('#cityDiv').show();
        }else{
            $('#cityDiv').hide();
        }
    });
</script>
</body>

</html>