*{margin:0; padding:0;}
a{text-decoration:none;}
a img{border:0;}
li{list-style-type:none;}
.main_2{
    margin-top: 200px;
}
.bjdw{
    position:fixed;
    top:0;
    width:100%;
    z-index:-100;
}
.share_2{
    width:6.4rem;
    margin:0 auto;
}
.share_2 img{
    width:6.4rem;
    height:6.72rem;
}

.share2_lef{
    width:3.6rem;
    margin:0 auto;
    font-size:0.27rem;
    color:#fff;
    line-height:1rem;
    text-indent:17%;
    height:1rem;
    background:url(/static/api/images/share_3.png) no-repeat top center;
    background-size:100% 100%;
    margin-top:1.24rem;
    margin-bottom:0.2rem;
}
.share2_lef a{
    color:#fff;
}
.share2_rig{
    width:3.6rem;
    margin:0 auto;
    font-size:0.27rem;
    color:#fc494c;
    line-height:1rem;
    text-indent:17%;
    height:1rem;
    background:url(/static/api/images/share_4.png) no-repeat top center;
    background-size:100% 100%;
}
.share2_rig a{
    color:#fc494c;
}
.share{
    width: 3.6rem;
    margin: 0 auto;
    font-size: 0.27rem;
    color: #fff;
    line-height: 1rem;
    text-align:center;
    height: 1rem;
    background: url(/static/api/images/share_21.png) no-repeat top center;
    background-size: 100% 100%;
    margin-top: 0.3rem;

}