<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改登录密码</title>
    <link rel="stylesheet" href="/static/index/style/cssreset.css">
    <link rel="stylesheet" href="/static/index/style/psw.css?v=1">
    <link rel="stylesheet" href="/static/index/style/public.css">
    {include file="common/js"}
</head>

<body>
    <header class="public">
        <a href="/index/user/index">
            <img src="/static/index/image/arrow.gif" alt="">
        </a>
        <h1>登录密码</h1>
    </header>
    <div class="list-title">
        <a href="/index/user/data">
            资料管理
        </a>
        <a href="/index/user/editpassword">
            登录密码
        </a>
        <a href="/index/user/tradepassword">
            交易密码
        </a>
    </div>
    <!-- 锁仓列表开始 -->
    <div class="list-content">
        <form class="sub-box" id="forgetPassForm">
            <div class="">
                <p>会员编号</p>
                <p>{$user['vip_number']}</p>
            </div>
            <div class="">
                <p>手机号码</p>
                <p>{$user['mobile']}</p>
            </div>
            <div>
                <p>设置登录密码</p>
                <input name="password" type="password" placeholder="请输入登录密码">
            </div>
            <div>
                <p>确认登录密码</p>
                <input name="password1" type="password" placeholder="请确认登录密码">
            </div>
            <div>
                <p>验证码</p>
                <div>
                    <input class="inputList" name="verify" type="text" placeholder="输入验证码">
                    <a id="verifyA" href="javascript:;" class="huoqu">获取验证码</a>
                </div>
            </div>
            <input type="hidden" name="mobile" id="mobile" value="{$user['mobile']}">
        </form>
        <div class="sub">
            <button id="updatePasswordBtn" class="btn" type="button">修改登录密码</button>
        </div>
    </div>
    <!-- 锁仓列表结束 -->
    <div class="bottom-content"></div>
    <!-- 底部开始 -->
    <footer>
        <div>
            <a href="/index/index/index">
                <i class="ficon1"></i>
                <p>首页</p>
            </a>
            <a href="/index/lock_order/index">
                <i class="ficon2"></i>
                <p>理财</p>
            </a>
            <a href="/index/money/pulladdress">
                <i class="ficon3"></i>
                <p>矿机</p>
            </a>
            <a href="/index/user/index">
                <i class="ficon4"></i>
                <p>我的</p>
            </a>
        </div>
    </footer>
    <!-- 底部结束 -->
</body>
<script>
    var updatePassObj = {isCommit:false, url:'/index/user/editpass', data:''};
    $("#updatePasswordBtn").click(function(){
        updatePassObj.data = $('#forgetPassForm').serialize();
        $.kingAjax(updatePassObj);
    });
    var verifyObj = {isCommit:false, url:'/index/verify/get', data:''};
    $('#verifyA').click(function(){
        verifyObj.data = {mobile:$('#mobile').val(), type:1, captcha:'ltc_captcha'};
        getVerify('#verifyA', verifyObj);
    });
</script>
</html>